@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/faktum-test');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar{
    display: none;
}

body{
    font-family: 'Inter';
    /* font-family: 'Geist'; */
}

.bricolage{
    font-family: "Bricolage Grotesque" !important;
}

.faktum{
    font-family: 'Faktum Test', sans-serif;
}

.background{
    background-image: url(assets/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.back{
    background-image: url(assets/background-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.focus-border:focus{
    outline: 2px solid #6936f518 !important;
}

.admin-focus-border:focus{
    outline: 3px solid #0D0D0D18 !important;
}

@media (max-width: 520px) {
    .background{
        background-size: 110%;
    }
}
